*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
builds/
loader/
tsconfig.tsbuildinfo
components.d.ts

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

.idea/
.gradle/
.sourcemaps/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

cypress/videos
cypress/screenshots
storybook-static

dist
lib
.rpt2_cache
