.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
}
